body {
    background-color: var(--bgColor);
}


h1 {
    font-size: var(--h1SizeQuestionnaire);
}
.corps {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 1fr;
    justify-items: center;
    align-items: center;
}

.sous_corps {
    width: 30%;
    min-width: 300px;
    height: 40%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.boutons {
    height: 70px;

    display: flex;                 /* ← indispensable */
    justify-content: space-between;
    align-items: center;           /* optionnel mais propre */
}